/* Style for the center overlay */
#center-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; /* Changed to move behind the form */
}

/* Style for the image */
#center-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.btn-primary {
    background-color: #374F59; /* Set the desired background color */
    color: #FFFFFF;
}

.col-form-label {
    color: #426E8B; 
  }